.recipe-card-with-button {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 12px;
}
.recipe-card-with-button img {
  max-width: 345px;
  max-height: 342px;
}
.recipe-card-with-button .card-text {
  font-size: 26px;
  font-weight: 600;
  margin: 12px auto;
  text-align: center;
}
.recipe-card-with-button .card-button {
  width: 185px;
  height: 48px;
  background-color: var(--bg-button);
  color: var(--white-text);
  font-size: 24px;
  font-weight: 700;
  text-align: center;
  border: none;
}

.recipe-card-with-button .card-button:hover {
  cursor: pointer;
  box-shadow: 2px 2px 2px black;
}
