.home-opening-card {
  background-image: url("./../../assets/images/home-image-1.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 639px;
}
.home-opening-card h1 {
  font-size: 70px;
  font-weight: 700;
  color: var(--white-text);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.36);
  width: fit-content;
  position: relative;
  top: 25.97%;
  left: 67.29%;
}
.home-bottom-card {
  background-image: url("./../../assets/images/home-image-2.png");
  background-size: contain;
  background-repeat: no-repeat;
  height: 772px;
}
.home-bottom-card h1,
.home-bottom-card p {
  color: var(--white-text);
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
}
.home-bottom-card h1 {
  font-size: 65px;
  font-weight: 700;
  position: relative;
  top: 21.11%;
  left: 8.47%;
}
.home-bottom-card p {
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 1rem;
}
.home-bottom-card .card-textbox {
  position: relative;
  top: 32.77%;
  left: 8.54%;
  width: 424px;
}
.week-recipes h1 {
  color: var(--dark-primary-color);
  font-size: 55px;
  font-weight: 700;
  text-align: center;
  width: fit-content;
  margin: 73px auto;
}
.horizontal-cards {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 100px;
}
@media screen and (max-width: 1440px) {
  .home-opening-card {
    height: 44.375vw;
  }
  .home-opening-card h1 {
    font-size: 4.8vw;
  }
  .home-bottom-card {
    height: 53.61vw;
  }
  .home-bottom-card h1 {
    font-size: 4.5vw;
  }
  .home-bottom-card p {
    font-size: 1.667vw;
  }
  .home-bottom-card .card-textbox {
    width: 29.44vw;
  }
}
